In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/Job_Posting_Data_With_Annual_Salary.csv')
print(df)

                                              Job Title  \
0                            Route Sales Representative
1                                 Ultrasound Technician
2                      Optometric/Ophthalmic Technician
3                                            Controller
4                                       Account Manager
...                                                 ...
1570                        Technical Support Scientist
1571                Delivery Driver - Pharmacy Services
1572                      Environmental Services Worker
1573  Reimbursement Specialist I - Reimbursement Ser...
1574                       Testing Services Coordinator

                            Company Name  \
0                Frito-Lay North America
1                  Proximity Diagnostics
2               Imperial Beach Optometry
3                               Filtrous
4                          Aya Corporate
...                                  ...
1570                          bioMérieux
1571                     Cardinal Health
1572                    Sharp Healthcare
1573  Rady Children's Hospital-San Diego
1574                 National University

                                               Location  Remote  \
0     San Diego, CA 92123 \n(Kearny Mesa area)\n+1 l...   False
1                                         San Diego, CA   False
2                 Imperial Beach, CA 91932\n+1 location   False
3                                       Poway, CA 92064   False
4                          San Diego, CA\n+18 locations   False
...                                                 ...     ...
1570                                      San Diego, CA   False
1571                                San Diego, CA 92108   False
1572                                      San Diego, CA   False
1573                        San Diego, CA\n+4 locations   False
1574                                San Diego, CA 92106   False

                        Salary  Full Time  Part Time Date Posted Salary Type  \
0                 $1179 a week       True      False    1/7/2022        week
1         $1800 - $3200 a week      False       True    1/7/2022        week
2            $10 - $18 an hour       True      False    1/7/2022        hour
3     $100000 - $150000 a year       True      False    1/7/2022        year
4     $100000 - $175000 a year      False      False    1/7/2022        year
...                        ...        ...        ...         ...         ...
1570                       NaN       True      False    1/4/2022         NaN
1571                       NaN       True      False  12/30/2021         NaN
1572                       NaN      False      False  12/29/2021         NaN
1573                       NaN       True      False  12/31/2021         NaN
1574                       NaN       True      False  12/16/2021         NaN

      Annual Salary
0           61308.0
1           93600.0
2           20870.0
3          100000.0
4          100000.0
...             ...
1570            NaN
1571            NaN
1572            NaN
1573            NaN
1574            NaN

[1575 rows x 10 columns]

In [3]:
# Count job postings and find median salary, grouped by Company Name
count = df.groupby(['Company Name']).size()
company_count = pd.Series(count, name='Count')
median = df.groupby(['Company Name'])['Annual Salary'].median()
company_median_salary = pd.Series(median, name='Median Salary')

print(company_count.sort_values(ascending=False))
print(company_median_salary.sort_values(ascending=False))

Company Name
Sharp Healthcare                          41
UC San Diego                              37
County of San Diego                       25
INDUS Technology, Inc.                    21
California State University               18
                                          ..
Ohio Shared Information Services Inc       1
Octapharma Plasma, Inc.                    1
OES Equipment, LLC                         1
O'Connor Construction Management, Inc.     1
Landings Real Estate Group                 1
Name: Count, Length: 943, dtype: int64
Company Name
Nomad Health         268632.0
Ventus Aires         216000.0
DREAMANAGER, Inc.    200000.0
Aspen Medical        180840.0
Tolman Media         156525.0
                       ...
Zipcar, Inc.              NaN
Zovio                     NaN
bioMérieux                NaN
i3 Verticals              NaN
pSemi                     NaN
Name: Median Salary, Length: 943, dtype: float64

In [4]:
# Combine the info into a DataFrame
company_aggregates = pd.concat([company_count, company_median_salary], axis=1)
print(company_aggregates.sort_values(by="Count",ascending=False))

# Save the csv file
company_aggregates.to_csv("../Aggregates/Company_Aggregates.csv")

                             Count  Median Salary
Company Name
Sharp Healthcare                41            NaN
UC San Diego                    37        48900.0
County of San Diego             25        65894.5
INDUS Technology, Inc.          21            NaN
California State University     18        40752.0
...                            ...            ...
Healthstore                      1            NaN
Helix Electric                   1            NaN
Helix Electric, Inc.             1            NaN
Hertz                            1            NaN
zHealth                          1        45000.0

[943 rows x 2 columns]