In [1]:
import pandas as pd

In [2]:
# Import our .csv file
df = pd.read_csv('../Data/Job_Posting_Data_With_Annual_Salary.csv')

# Create a column of ZIP codes
df['ZIP Code'] = df['Location'].str.extract(r'(\d{5})')
print(df)

                                              Job Title  \
0                            Route Sales Representative
1                                 Ultrasound Technician
2                      Optometric/Ophthalmic Technician
3                                            Controller
4                                       Account Manager
...                                                 ...
1570                        Technical Support Scientist
1571                Delivery Driver - Pharmacy Services
1572                      Environmental Services Worker
1573  Reimbursement Specialist I - Reimbursement Ser...
1574                       Testing Services Coordinator

                            Company Name  \
0                Frito-Lay North America
1                  Proximity Diagnostics
2               Imperial Beach Optometry
3                               Filtrous
4                          Aya Corporate
...                                  ...
1570                          bioMÃ©rieux
1571                     Cardinal Health
1572                    Sharp Healthcare
1573  Rady Children's Hospital-San Diego
1574                 National University

                                               Location  Remote  \
0     San Diego, CA 92123 \n(Kearny Mesa area)\n+1 l...   False
1                                         San Diego, CA   False
2                 Imperial Beach, CA 91932\n+1 location   False
3                                       Poway, CA 92064   False
4                          San Diego, CA\n+18 locations   False
...                                                 ...     ...
1570                                      San Diego, CA   False
1571                                San Diego, CA 92108   False
1572                                      San Diego, CA   False
1573                        San Diego, CA\n+4 locations   False
1574                                San Diego, CA 92106   False

                        Salary  Full Time  Part Time Date Posted Salary Type  \
0                 $1179 a week       True      False    1/7/2022        week
1         $1800 - $3200 a week      False       True    1/7/2022        week
2            $10 - $18 an hour       True      False    1/7/2022        hour
3     $100000 - $150000 a year       True      False    1/7/2022        year
4     $100000 - $175000 a year      False      False    1/7/2022        year
...                        ...        ...        ...         ...         ...
1570                       NaN       True      False    1/4/2022         NaN
1571                       NaN       True      False  12/30/2021         NaN
1572                       NaN      False      False  12/29/2021         NaN
1573                       NaN       True      False  12/31/2021         NaN
1574                       NaN       True      False  12/16/2021         NaN

      Annual Salary ZIP Code
0           61308.0    92123
1           93600.0      NaN
2           20870.0    91932
3          100000.0    92064
4          100000.0      NaN
...             ...      ...
1570            NaN      NaN
1571            NaN    92108
1572            NaN      NaN
1573            NaN      NaN
1574            NaN    92106

[1575 rows x 11 columns]

In [3]:
# Count job postings and find median salary, grouped by ZIP code
count = df.groupby(['ZIP Code']).size()
zip_code_count = pd.Series(count, name='Count')
median = df.groupby(['ZIP Code'])['Annual Salary'].median()
zip_code_median_salary = pd.Series(median, name='Median Salary')

print(zip_code_count)
print(zip_code_median_salary)

# Create dataframe from this information
zip_code_df = pd.concat([zip_code_count, zip_code_median_salary], axis=1)

ZIP Code
91909     1
91910    12
91911    13
91913     1
91914     1
         ..
92173     5
92178     1
92179     1
92182     9
92192     1
Name: Count, Length: 94, dtype: int64
ZIP Code
91909     39653.0
91910     56349.0
91911     36522.5
91913    180840.0
91914     41740.0
           ...
92173     35479.0
92178         NaN
92179     39653.0
92182     41280.0
92192     33392.0
Name: Median Salary, Length: 94, dtype: float64

In [4]:
# Remove Zip codes that have less than 5 job postings
zip_code_df = zip_code_df[zip_code_df["Count"] > 4]
print(zip_code_df.head())

          Count  Median Salary
ZIP Code
91910        12        56349.0
91911        13        36522.5
91942        11        55000.0
91950        18        31305.0
92008        18        47957.0

In [5]:
# Save to .csv File

zip_code_df.to_csv('../Aggregates/zip_code_aggregates.csv')